<app-tabs pTab1="active"></app-tabs>
<div class="tab-content">
    <div class="tab-pane fade show active bord-bot-tab p-4">
        <div class="bl_list">
            <div class="date">29 апреля 2020</div>
            <div class="list_word mb-4">
                <p *ngFor="let item of arrWordsAndTranslate">{{item.en}} - {{item.ru}}</p>
            </div>
        </div>
        <div *ngIf="showBlAddWord" class="bl_inp">
            <label for="inpAdd" class="label_inp">Enter words separated by semicolons</label><br>
            <input #inpAdd id="inpAdd" type="text">
            <button (click)="addNewWord(inpAdd.value)">Add</button>
        </div>
        <button *ngIf="showBtn" (click)="showBlockAdd()" type="button" class="btn btn-info c_b">Add New</button>
    </div>
</div>
