.bord-bot-tab {
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-radius: 0 5px 5px 5px;
}
.date {
    color: darkgray;
}
.list_word {
     margin-top: 15px;
    overflow-y: scroll;
    height: 120px;
}
.list_word p {
    line-height: 10px;
}
.c_b {
    width: 250px;
    padding: 3px 0;
    font-size: 15px;
}
.bl_inp {
    margin: 20px 0;
}
.bl_inp input {
    width: 300px;
}
.label_inp {
    margin-bottom: 3px;
    color: darkgray;
}
