<ul class="nav nav-tabs" [ngClass]="pTab1 === 'active' ? 'mlr4pxc' : 'mlr4px'">
    <li class="nav-item">
        <a class="nav-link {{pTab1}}" routerLink = "/" routerLinkActive="active-link">Recently Added</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{pTab2}}" routerLink = "/training" routerLinkActive="active-link">Go</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{pTab3}}" routerLink = "/setting" routerLinkActive="active-link">Settings</a>
    </li>
</ul>
