<app-tabs pTab1="active"></app-tabs>
<div class="tab-content">
    <div class="tab-pane fade show active bord-bot-tab p-4">
        <div class="bl_list">
            <div class="date">29 апреля 2020</div>
            <div class="list_word mb-4">
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
                <p>to apply - добавить</p>
                <p>education - образование</p>
            </div>
        </div>
        <button (click)="addNew()" type="button" class="btn btn-info c_b">Add New</button>
    </div>
</div>
